# Project exclude paths
/.gradle/
/Encryption-Decryption/task/build/
/Problems/Catching some exceptions/out/
/Problems/Catching some exceptions/out/production/classes/
/Problems/Convert to bytes/out/
/Problems/Convert to bytes/out/production/classes/
/Problems/Converting and multiplying/out/
/Problems/Converting and multiplying/out/production/classes/
/Problems/Count words/out/
/Problems/Count words/out/production/classes/
/Problems/Find mistake/out/
/Problems/Find mistake/out/production/classes/
/Problems/Max and Min/out/
/Problems/Max and Min/out/production/classes/
/Problems/Pick your team/out/
/Problems/Pick your team/out/production/classes/
/Problems/Static factory methods for Time/out/
/Problems/Static factory methods for Time/out/production/classes/
/Problems/The length of the sequence/out/
/Problems/The length of the sequence/out/production/classes/
/Problems/Too many cats/out/
/Problems/Too many cats/out/production/classes/